* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.center {
    max-width: 3000px;
    padding: 0 3%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 10px 2%;
    grid-template-columns: 1fr 1fr;
}

.w100 {
    grid-row: 1/4;
}

.w50 {
    width: 50%;
}

header {
    background-color: rgba(128, 128, 128, 0.769);
}

.logo>img {
    width: 12%;
}

section.portarias {
    margin: 20px 10px;
    border: 2px solid #c4c4c4c4;
    max-width: 700px;
    height: 100%;
    max-height: 1000px;
}

section.agenda {
    margin: 20px 10px;
    border: 2px solid #c4c4c4c4;
    height: 100%;
}

.agenda>iframe {
    padding: 5px;
    width: 100%;
    max-height: 270px;
}

.agenda>h3 {
    text-align: center;
    color: #616161c4;
}

.noticias-dataHora {
    display: grid;
    grid-gap: 10px 2%;
    grid-template-columns: 1fr 1fr;
}

section.noticias {
    margin: 0px 10px;
    margin-top: 20px;
    border: 2px solid #c4c4c4c4;
    height: 100%;
    max-width: 1000px;
}

.noticias>h3 {
    text-align: center;
    color: #616161c4;
}

.noticias>article {
    margin: 10px;
    display: grid;
    grid-gap: 10px 2%;
    grid-template-columns: 1fr 15fr;
    background-color: rgba(63, 247, 207, 0.089);
    border-radius: 5px;
}

.noticias>article>.retangulo {
    height: 100%px;
    width: 4px;
    border: 2px solid #00b9b0;
}

.noticias>article>a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 600;
}

.data-e-hora {
    margin: 20px 10px;
    width: 94%;
    height: 100%;
    max-width: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.data-e-hora-internos {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.data-e-hora-internos>img {
    width: 50%;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #c4c4c4c4;
    text-align: center;
}