* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
}

.center {
    position: relative;
    max-width: 3000px;
    padding: 0 2%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 10px 2%;
    grid-template-columns: 1fr 1fr;
}

.w100 {
    grid-row: 1/3;
}

.w50 {
    width: 50%;
}

header {
    background-color: #339938;
}

.logo>img {
    width: 12%;
    margin: 2px 15px;
}

section.portarias {
    margin: 20px 10px;
    border: 2px solid #c4c4c4c4;
    border-radius: 20px;
    max-width: 700px;
    height: 99%;
    max-height: 1000px;
}

.bodyContentSuap p {
    font-size: 10px;
    margin: 10px;
}

section.agenda {
    margin: 20px 10px;
    border: 2px solid #c4c4c4c4;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
}

.agenda>iframe {
    margin-top: 10px;
    width: 100%;
    max-height: 270px;
}

.agenda>h3 {
    text-align: center;
    color: #7a7a7ac4;
}

.noticias-dataHora {
    display: grid;
    grid-gap: 10px 2%;
    grid-template-columns: 1fr 1fr;
}

section.noticias {
    margin: 0px 10px;
    margin-top: 20px;
    border: 2px solid #c4c4c4c4;
    border-radius: 20px;
    height: 100%;
    max-width: 1000px;
}

.noticias>h3 {
    margin-top: 10px;
    text-align: center;
    color: #7a7a7ac4;
}

.noticias>article {
    margin: 10px;
    margin-top: 15px;
    display: grid;
    grid-gap: 10px 2%;
    grid-template-columns: 0.5fr 15fr;
    background-color: rgba(63, 247, 63, 0.089);
    border-radius: 5px;
}

.noticias>article:nth-child(3) {
    animation-delay: 2s;
    animation-name: child;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: steps(0.99, step-start);
}

@keyframes child {
    to {
        grid-template-columns: 0.7fr 10fr;
    }
}

.noticias>#noticia-mais-recente {
    background-color: rgba(247, 63, 232, 0.089);
}

.noticias>article>.retangulo {
    height: 100%px;
    width: 4px;
    border: 2px solid #00b99a;
    background-color: #00b99a;
}

.noticias>article>#retangulo-noticia-recente {
    border: 2px solid #ff0202;
    background-color: #ff0202;
}

.noticias>article>a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 600;
}

.data-e-hora {
    margin: 20px 10px;
    width: 94%;
    height: 100%;
    max-width: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.data-e-hora-internos {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.data-e-hora-internos>img {
    width: 50%;
}

.data-e-hora-internos>h2,
h3 {
    color: #003833;
}

footer {
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #c4c4c4c4;
    padding-top: 5px;
}

footer>p {
    text-align: center;
}

@media screen and (min-width: 1524px) {
    .center {
        grid-gap: -10px 0;
        grid-template-columns: 1fr 1fr;
    }
    .portarias {
        width: 100%;
        max-width: 100px;
    }
}