* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
}

.center {
    position: relative;
    max-width: 300vw;
    padding: 0 2%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 2px 1%;
    grid-template-columns: 10fr 1000px;
}

.w100 {
    grid-row: 1/3;
}

.w50 {
    width: 50%;
}

header {
    background-color: #2f9e41;
}

.logo>img {
    width: 12%;
    margin: 3px 15px;
}


/* =================portarias==================== */

section.portarias {
    border: 2px solid #c4c4c4c4;
    border-radius: 1.5em;
    width: 45em;
    height: 82vh;
    margin-top: 1.3em;
}


/* ============================================== */

section.agenda {
    margin: 2% 1%;
    border: 2px solid #c4c4c4c4;
    border-radius: 1.5em;
    padding: 1%;
    width: 71%;
}

.agenda>iframe {
    margin-top: 1%;
    width: 100%;
    height: 90%;
    max-height: 100%;
}

.agenda>h3 {
    text-align: center;
    color: #7a7a7ac4;
}


/* ============================================== */

section.noticias {
    margin: 0% 1%;
    border: 2px solid #c4c4c4c4;
    border-radius: 1.5em;
    height: 100%;
    width: 71%;
}

.noticias>h3 {
    margin-top: 1%;
    text-align: center;
    color: #7a7a7ac4;
}

.noticias>article {
    margin: 1%;
    margin-top: 1.5%;
    display: grid;
    grid-gap: 1% 2%;
    grid-template-columns: 0.5em 40em;
    background-color: rgba(63, 247, 63, 0.089);
    border-radius: 0.5em;
}

.noticias>article:nth-child(2) {
    -webkit-animation: 2s;
    -webkit-animation-name: child;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: steps(0.99, step-start);
    -moz-animation: 2s;
    -moz-animation-name: child;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: steps(0.99, step-start);
}

@keyframes child {
    to {
        grid-template-columns: 0.7fr 10fr;
    }
}

.noticias>#noticia-mais-recente {
    background-color: rgba(247, 63, 232, 0.089);
}

.noticias>article>.retangulo {
    height: 100%;
    width: 0.4%;
    border: 2px solid #2f9e41;
    background-color: #2f9e41;
}

.noticias>article>#retangulo-noticia-recente {
    border: 2px solid #cd191e;
    background-color: #cd191e;
}

.noticias>article>a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 1em;
    font-weight: 600;
}


/* ============================================== */

footer {
    width: 100%;
    height: 30px;
    background-color: #c4c4c4c4;
}

footer>p {
    text-align: center;
}